<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <carriers>
            <aramex>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Shopgo\AramexShipping\Model\Carrier\Standardshipping</model>
                <title>Aramex Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </aramex>
        </carriers>
    </default>
</config>
