<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="aramex" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Aramex Standard Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <tooltip>This is the method’s name that the customer will see in the checkout page.</tooltip>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="method_title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Method Title</label>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <field id="username" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>User Name</label>
                    <tooltip>Username, Password, Account's Country Code, Entity and Number You can get these values by contacting Aramex.</tooltip>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="password" translate="label comment" type="password" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">

                    <label>Password</label>
                    <comment>
                        <![CDATA[<a href="https://www.aramex.com/accounts/registration-signup.aspx" target="_blank"> Create your own Aramex account  </a>]]>
                    </comment>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <field id="accountcountrycode" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Country Code</label>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="accountentity" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Entity</label>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="accountnumber" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="accountpin" translate="label" type="password" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account PIN</label>
                    <depends> <field id="active">1</field> </depends>
                </field>
                
                <field id="producttype" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Type</label>
                    <source_model>ShopGo\AramexShipping\Model\System\Config\Source\Producttypes</source_model>
                    <comment>
                       Note: Make sure you contact Aramex before changing the product type. Choosing the wrong type might result in errors
                    </comment>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <field id="aramex_account_checker" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Check Account</label>
                    <frontend_model>ShopGo\AramexShipping\Block\System\Config\Button\CheckAccountButton</frontend_model>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment>Note: All allowed countries are the countries selected from STORE > Configuration > GENERAL > General> Allow Countries</comment>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="active">1</field>
                        <field id="sallowspecific">1</field>
                    </depends>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends> <field id="active">1</field> </depends>
                </field>

                <!-- COD Account -->
                <field id="cod" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>COD Account</label>
                    <depends> <field id="active">1</field> </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="codaccountnumber" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account Number</label>
                    <depends> <field id="cod">1</field> </depends>
                </field>
                <field id="codaccountpin" translate="label" type="password" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>COD Account PIN</label>
                    <depends> <field id="cod">1</field> </depends>
                </field>

                <field id="link" translate="label" type="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment>
                        <![CDATA[<a href="http://shopgo.me/" target="_blank">Click here to check how to configure it</a>]]>
                    </comment>
                    <depends> <field id="active">1</field> </depends>
                </field>
                <field id="note" translate="label" type="label" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment>
                           Note: Shipping settings origin entries must be filled correctly, otherwise the extension will not function properly. You can modify them by going to STORES > Configuration > SALES > Shipping Settings > Origin"
                    </comment>
                    <depends> <field id="active">1</field> </depends>
                </field>
            </group>
        </section>
    </system>
</config>